.navbar {
    background-color: #f0f0f0 !important;
}

.nav-link {
    color: #000000 !important;
    font-weight: bold;
}

.navbar-brand-img {
    height: 36px;
    width: auto;
    display: inline-block;
}

.nav-link.active {
    color: #0d6efd !important;
}
