.category {
    font-weight: 600;
}

.text-surplus {
    color: #28a745 !important;
    font-weight: 600;
}

.text-deficit {
    color: #dc3545 !important;
    font-weight: 600;
}

#expenses-table td:first-child,
#expenses-table th:first-child {
    text-align: left !important;
}
